body {
  display: flex;
  min-height: 100vh;
}

.tables {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 770px;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}
.price-card__titles {
  padding: 33px 140px 33px 140px;
}
.price-card__title {
  margin: 0px;
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  text-align: center;
}
.price-card__subtitle {
  margin: 0px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.price-card__price {
  margin: 0px;
  padding: 19px 110px 19px 110px;
  width: 380px;
  height: 105px;
  background-color: #5bb189;
  font-style: normal;
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  text-align: center;
}
.price-card__description {
  margin: 0px;
  padding: 40px 26px 0px 26px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.price-card__options-list-description {
  margin: 16px 156px 16px 0px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.price-card__order-btn {
  margin: 39px 113px 40px 112px;
  width: 154px;
  height: 40px;
  background-color: #5bb189;
  border-radius: 20px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  color: #ffffff;
}
.price-card__badge {
  position: absolute;
  left: 69.35%;
  right: 0%;
  top: 0%;
  bottom: 84.39%;
  width: 122px;
  height: 123px;
}
.price-card__badge-img {
  position: absolute;
  top: -17px;
  right: 45px;
}
.price-card__popular-title {
  position: absolute;
  top: -18px;
  right: 142px;
  transform: rotate(45deg);
  width: 25px;
  height: 147px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.blue {
  position: relative;
  margin-left: 18px;
}

.price-blue {
  background: #3a6ba5;
}

.order-btn-blue {
  background: #3a6ba5;
}

.orange {
  margin-left: 18px;
}

.price-orange {
  background: #ec632a;
}

.order-btn-orange {
  background: #ec632a;
}

.checkmark_green {
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
}

.checkmark_blue {
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
}

.checkmark_orange {
  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
}

.price-card__options-list {
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.price-card__options-list li {
  padding-left: 22px;
  height: 50px;
  line-height: 50px;
}
.price-card__options-list li:nth-child(odd) {
  background-color: #2a3438;
}
.checkmark {
  display: inline-block;
  margin-right: 22px;
  width: 15px;
  height: 13px;
}
